<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/bootstrap.min.css'|url }}">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<title>{% block title %}Welcome{% endblock %} — helloworld</title>
<body class="container-fluid bg-faded">
    <header>
        <nav class="navbar navbar-light navbar-fixed-top bg-faded">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
            <ul class="nav navbar-nav collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
              <li {% if this._path=='/' %} class="active nav-item" {% else %} class="nav-item" {% endif %}><a href="{{ '/'|url }}" class="nav-link">Welcome</a></li>
              {% for href, title in [ ['/blog', 'Blog'], ['/projects', 'Projects'], ['/about', 'About'] ] %}
              <li{% if this.is_child_of(href) %} class="active nav-item"  {% else %} class="nav-item" {% endif %}><a href="{{ href|url }}" class="nav-link">{{ title }}</a></li>
              {% endfor %}
            </ul>
        </nav>
    </header>
    <section>
      <div class="col-xl-3 col-xl-offset-1 col-lg-2 col-lg-offset-1 col-md-3 col-sm-12">
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum itaque, accusantium commodi. Magni laborum adipisci quidem minus ab nobis id fuga impedit inventore. Dolor officia, explicabo animi repellendus nihil nisi!</p>
      </div>
      <div class="page col-xl-6 col-xl-offset-1 col-lg-7 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-10 col-sm-offset-1">
          {% block body %}{% endblock %}
      </div>
    </section>

    <footer class="col-md-12 col-sm-12">
        &copy; Copyright 2016 by ...
    </footer>
</body>
