body{
  padding-top: 10vh;
}
body h1 {
  font-family: Oswald, sans-serif;
  line-height: 60px;
  padding-top: 5vh;
  padding-bottom: 2vh;
}
div.page{
  background: white;
  padding: 50px;
  min-height: 85vh;
}
div.page > h2{
  line-height: inherit;
}
div.blog-post{
  border-top: 1px dashed #ccc;
  padding-bottom: 5vh;
  padding-top: 5vh;

}
div.blog-post:first-child{
  border-top: 0;
  padding-top: 0;
}
@media (max-width: 768px) {
  body h1 {
    text-align: center;
  }
}
@media (max-width: 544px) {
  div.page{
    background: white;
    padding: 26px;
    min-height: 85vh;
  }
}
